* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
}

.titulo:hover {
  text-shadow: 0px 1px 3px grey;
}

p, h2 {
  font-size: 20px;
  color: #E6E18F;
}

.seccion-main {
  padding-left: 30px;
  width: 75rem;
  height: 55rem;
  border: 4px solid #E6E18F;
}
.seccion-main .container-img, .seccion-main .card-img-top, .seccion-main .container-img-productos {
  width: 14rem;
  height: 150px;
  margin-right: 80px;
}
.seccion-main .box:hover {
  transform: scale(1.4);
}
.seccion-main .box-uno {
  transition: all 2s;
}
.seccion-main .productos-dest-row {
  margin-top: 8rem;
}

p, h2 {
  font-size: 20px;
  color: #E6E18F;
}

.seccion-main-productos {
  width: 100%;
  height: 80rem;
  margin-left: 10rem;
}
.seccion-main-productos .box:hover {
  transform: scale(1.4);
}
.seccion-main-productos .box-uno {
  transition: all 2s;
}

.seccion-registro, footer .copyright, footer .container-pagos, footer .redes-uno .img-redes, footer .seccion-registro, .productos-dest {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productos-dest {
  margin: 50px 10rem 50px 50px;
  width: 30%;
  font-size: 30px;
  color: black;
  background-color: #E6E18F;
  border-radius: 10px;
}

.row .imagen-instructores {
  position: relative;
  right: 2px;
  margin-top: 20px;
}
.row .parrafo-instructores {
  color: #E6E18F;
  width: 44%;
  height: 200px;
  position: relative;
  top: 15px;
  text-shadow: 2px 2px 3px white;
}

.instructores-dest {
  width: 15rem;
}

.container-video {
  width: 110%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.container-video .video-inst {
  width: 37rem;
  height: 20rem;
  padding-left: 100px;
}

.seccion-canchas {
  position: relative;
  left: 40px;
  margin-right: 50px;
  margin-top: 50px;
}
.seccion-canchas .row {
  margin-bottom: 150px;
}
.seccion-canchas .cancha-uno-dos {
  margin-bottom: 50px;
  padding-right: 30px;
  position: relative;
  right: 40px;
}
.seccion-canchas .cancha-tres-cuatro {
  margin-top: 20px;
  padding-right: 50px;
  position: relative;
  right: 40px;
}

.seccion-tablas {
  margin-bottom: 30px;
  position: relative;
  bottom: 50px;
}

.container-conocenos {
  margin-bottom: 80px;
}
.container-conocenos .imagen-conocenos {
  position: relative;
  right: 120px;
  width: 500px;
  margin-bottom: 80px;
  margin-left: 160px;
}
.container-conocenos .parrafo-conocenos {
  height: 80%;
  position: relative;
  top: 25px;
  text-shadow: 2px 2px 3px white;
}

footer {
  background-color: #E6E18F;
}
footer .seccion-registro {
  width: 100%;
  height: 77%;
}
footer .container-registro {
  background-color: #E6E18F;
  margin-top: 5%;
  padding: 20px;
}
footer .boton-registro {
  margin-bottom: 10px;
  width: 15%;
}
footer .container-secciones {
  list-style: none;
  font-size: 22px;
}
footer .redes-uno {
  height: 40%;
  width: 15%;
}
footer .redes-uno .container-redes {
  list-style: none;
  width: 8rem;
  padding-left: 0%;
}
footer .redes-uno .img-redes {
  margin-bottom: 10px;
}
footer .redes-uno .redes:hover {
  transition: all 0.5s;
  transform: scale(1.5);
}
footer .container-pagos {
  flex-direction: column;
}
footer .container-pagos .img-pagos {
  padding: 20px 20px 0px 0px;
}
footer .container-pagos .pagos-seccion {
  list-style: none;
  width: 20px;
  position: relative;
  right: 20px;
}
footer .container-footer {
  margin-bottom: 50px;
  margin-top: 60px;
}
footer .copyright {
  background-color: black;
  color: #E6E18F;
}
footer .copyright .github {
  text-decoration: none;
  color: #E6E18F;
}

@media only screen and (min-width: 360px) and (max-width: 400px) {
  .productos-dest {
    width: 60%;
    position: relative;
    left: 2rem;
  }

  .imagen-inst {
    width: 300px;
    height: 300px;
  }

  .video-inst {
    width: 500px;
    position: relative;
    right: 10rem;
  }

  .parrafo-instructores {
    width: 50rem;
    position: relative;
    right: 11rem;
  }
}
@media only screen and (min-width: 401px) and (max-width: 480px) {
  .productos-dest {
    margin-left: 3rem;
  }

  .seccion-main {
    width: 30rem;
    height: 165rem;
    margin-left: 0px;
  }

  .container-img {
    margin-bottom: 160px;
  }

  .seccion-main-productos {
    width: 30rem;
    height: 280rem;
    margin-left: 5px;
  }

  .container-img-productos {
    margin-bottom: 150px;
  }

  .imagen-inst {
    width: 30rem;
    height: 20rem;
    position: relative;
    right: 100px;
  }

  .seccion-canchas {
    width: 10rem;
  }

  .container-canchas {
    width: 20rem;
    position: relative;
    right: 100px;
  }

  .container-conocenos {
    display: flex;
    flex-wrap: wrap;
  }

  .imagen-conocenos {
    width: min-content;
    height: min-content;
  }

  .seccion-registro {
    width: 10rem;
    height: 30%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
  .productos-dest {
    margin-right: 8rem;
  }

  .seccion-main {
    width: 31rem;
    height: 150rem;
    margin-left: 0px;
  }

  .container-img {
    margin-bottom: 150px;
  }

  .seccion-main-productos {
    width: 30rem;
    height: 280rem;
    margin-left: 0px;
  }

  .container-img-productos {
    margin-bottom: 160px;
  }

  .imagen-inst {
    width: 30rem;
    height: 20rem;
    position: relative;
    right: 80px;
  }

  .parrafo-instructores {
    width: 80rem;
    height: 30rem;
  }

  .container-canchas {
    width: 25rem;
    position: relative;
    right: 8rem;
  }

  .seccion-canchas {
    width: 15rem;
  }

  .container-conocenos {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .productos-dest {
    margin-right: 8rem;
  }

  .seccion-main {
    width: 100%;
    height: 75rem;
    margin-left: 0px;
  }

  .container-img {
    width: 9rem;
  }

  .seccion-main-productos {
    width: 37rem;
    height: 150rem;
    margin-left: 12px;
  }

  .container-img-productos {
    width: 12rem;
    margin-bottom: 150px;
  }

  .imagen-inst {
    width: 30rem;
    height: 20rem;
  }

  .seccion-canchas {
    width: 20rem;
  }

  .container-canchas {
    width: 30rem;
    position: relative;
    right: 70px;
  }

  .container-conocenos {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .productos-dest {
    margin-right: 12rem;
    width: 40%;
  }

  .seccion-main {
    width: 99%;
    margin-left: 0px;
    height: 70rem;
  }

  .container-img {
    width: 22%;
  }

  .seccion-main-productos {
    width: 52rem;
    margin-left: 10px;
    height: 140rem;
  }

  .container-img-productos {
    margin-bottom: 110px;
  }

  .imagen-inst {
    width: 30rem;
    height: 20rem;
  }

  .container-conocenos {
    display: flex;
    flex-wrap: wrap;
  }

  .seccion-canchas {
    width: 40rem;
    position: relative;
    right: 70px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1800px) {
  .productos-dest {
    width: 30%;
  }

  .seccion-main {
    width: 100%;
    margin: 0px;
  }

  .container-img {
    margin-bottom: 50px;
    position: relative;
    left: 40px;
  }

  .seccion-main-productos {
    width: 80rem;
    height: 93rem;
    margin-left: 150px;
  }

  .container-img-productos {
    width: 15rem;
    margin-bottom: 120px;
  }

  .imagen-inst {
    position: relative;
    right: 70px;
    width: max-content;
    height: max-content;
  }

  .parrafo-instructores {
    width: 40rem;
    position: relative;
    left: 1px;
  }

  .seccion-canchas {
    width: 120rem;
  }

  .container-registro {
    width: 40%;
  }
}
.seccion-registro, .productos-dest, footer .seccion-registro, footer .redes-uno .img-redes, footer .container-pagos, footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productos-dest {
  margin: 50px 10rem 50px 50px;
  width: 30%;
  font-size: 30px;
  color: black;
  background-color: #E6E18F;
  border-radius: 10px;
}

.productos-dest {
  position: relative;
  left: 40px;
}

.seccion-registro {
  background-color: #E6E18F;
  width: 70%;
  height: 33rem;
}

.container-registro {
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
