*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(10, 10, 10);
}


/* fin header*/

/*main*/
 /*.productos-dest, .productos {
     border: 1px solid #E6E18F;
     color:black;
     background-color: #E6E18F;
     font-style: normal;
     display: flex;
     justify-content: center;
     margin-left: 630px;
     margin-right: 630px;
     margin-top: 2%;
     margin-bottom: 4%;
 }
 
 .imagenes-uno{
     margin-top: 7rem;
    color: #E6E18F; 
    display: grid;
    grid-template-columns: 33rem 38rem 20rem;
    grid-template-rows: 25fr ;
    width: 40px;
    gap: 20px;
}*/
.productos-dest {text-align: center;
    width: 25%;
    font-size: 30px;
     color: black;
    background-color: #E6E18F;
    margin: 80px;
    border-radius: 10px;
}
.container-productos{
   padding-left: 80px;
}
.container {
    margin-left: 196px;
    margin-bottom: 5%;
}
p,h2 { font-size: 20px;
    color: #E6E18F;
}
.box:hover {
    transform: scale(1.5);
}
.item-uno { 
    padding: 0% 20%;
    margin: 0% 10%;
    transition: all 2s;
}
    .instructores-parrrafo {  font-family: 'Dancing Script', cursive;
        font-family: 'Staatliches', cursive;
        width: 60%;
        margin-bottom: 5%;

    }
.instructores-contenido{ display: flex;
   justify-content: space-around;
    color: #E6E18F;
    width: 100%;
    margin: 0% 0%;
}
.tipos-cancha {
    display: flex;
    justify-content: center;
    color: #E6E18F;
}
.contenedor-canchas{
    display: grid;
    grid-template-columns: 30fr 20fr;
    grid-template-rows: 30fr 20fr;
    width: 100%;
    margin: 4% 0%;
}
.imagen-uno-cancha,.imagen-tres-cancha {
    position: relative;
    left: 12%;
    display: flex;
    align-items: center;
    height: 50%;
    width: 15%;
}
.imagen-dos-cancha,.imagen-cuatro-cancha{
    position: relative;
    right: 5%;
    display: flex;
    align-items: center;
    height: 50%;
    width: 15%;
}

.conocenos-container{
    display: flex;
    position: relative;
    width: 100%;
    color: #E6E18F;
   margin: 20px 20px 30px 0px;
}
.parrafo-conocenos { padding: 2%;
    font-family: 'Dancing Script', cursive;
        font-family: 'Staatliches', cursive;
        font-size: 20px;
}
 /*fin main*/

 
 footer{
     background-color: #E6E18F;
    }
    .container-registro {
        border-left: 4px solid black;
        width: 40rem;
        height: 16%;
    }
    .container-secciones {
        list-style: none;
        font-size: 22px;
    }
    .container-redes{
        list-style: none;
        width: 8rem;
        margin: 0%;
        padding-left: 0%;
    }
    .redes-uno {
        position: relative;
        bottom: 150px;
        height: 0px;
    }
   .img-redes {
       padding: 20px 20px 0px 0px ;
   }
   .container-pagos {
       display: flex;
       align-items: center;
       flex-direction: column;
       position: relative;
       right: 180px;
       bottom: 150px;
       height: 0px;
   }
   .img-pagos {
       padding: 20px 20px 0px 0px;
   }
   .pagos-seccion {
       list-style: none;
       width: 20px;
       padding-left: 0px;
       position: relative;
       right: 80px;
   }
    .secciones-footer {
        text-decoration:none ;
        color: black;
    }
    .copyright { background-color: black;
        color: #E6E18F;
        font-family: 'Dancing Script', cursive;
        font-family: 'Staatliches', cursive;
        display: flex;
        justify-content: center;
    }

@media only screen and (max-width: 480px) {
header nav ul li {
    border: 1px solid #E6E18F
}
 .encabezado{
     width: 60%;   
         margin: auto;
          display: flex;
          flex-direction: column;
          border: none;
          height: 10%;
          
 }
.imagenes-uno {
   display: grid;
   grid-template-columns: repeat(2, 10rem);
   gap: 15px;
   width: 60%;
}
body {
    width: 100%;
}
footer {
    width: 100%;
}
.productos-dest {
    position: relative;
    right: 32rem;
    width: 52%;
}
.imagen-central {
    width: 100%;
    height: 50%;
}
.carrito {
position: relative;
right: 15px;
top: -540px;
}
.contenedor-google {
    width: 30%;
    height: 20%;
}
.imagen-logo {
    width: 1px;
    position: relative;
   bottom: 10rem;
} 
#contactoMati {
    position: fixed;
    bottom: 0%;
    left: 0%;}
}
@media only screen and (min-width: 481px) and (max-width: 600px) {

    body {
        width: 105%;
    }
    .encabezado {
        width: 70%;
    }
    .imagenes-uno {
        display: grid;
        grid-template-columns: repeat(3, 10rem);
    }
    .productos-dest {
        position: relative;
        right: 25rem;
        width: 30%;
    }
    .contenedor-google {
        width: 30%;
        height: 20%;
    }
}


@media only screen and (min-width: 601px) and (max-width: 800px) {
   
    body {
        width: 100%;
    }
    .encabezado {
        width: 80%;
    }
    .imagenes-uno {
        display: grid;
        grid-template-columns: repeat(3,12rem);
    }
    .productos-dest {
        width: 30%;
        position: relative;
        right: 22rem;
    }

}
@media only screen and (min-width: 801px) and (max-width: 1040px) {
    body {
    width: 100%;
    }  
    .encabezado { width: 70%;}
    .imagen-central {
        width: 100%;
    }
    .imagenes-uno {
        display: grid;
        grid-template-columns: repeat(3, 15rem);
    }
    .productos-dest {
        position: relative;
        right: 22rem;
        width: 30%;
    }
}
