* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url("../imagenes/descarga.jfif");
  font-family: "Lato";
  padding: 20px 30px;
  margin: 0px;
  width: 100%;
  height: 100vh;
}

.titulo:hover {
  background: linear-gradient(grey, #7F7A7A);
  border-radius: 13px;
  box-shadow: 0px 1px 7px 4px rgba(212, 196, 196, 0.24);
  -webkit-box-shadow: 0px 1px 7px 4px rgba(212, 196, 196, 0.24);
  -moz-box-shadow: 0px 1px 7px 4px rgba(212, 196, 196, 0.24);
}

.titulo {
  font-size: 18px;
}

.section-carrousel {
  width: 101%;
}

p, h5 {
  text-align: center;
  font-size: 20px;
  color: #ECE8E8;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.seccion-main {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.seccion-main .card {
  border-radius: 7px;
  border: 5px solid #a09c9c;
  width: 210px;
}
.seccion-main .card .card-img-top {
  width: 200px;
  height: 200px;
}
.seccion-main .card .botom-comprar:hover {
  background: #FFF;
  box-shadow: 0px 1px 13px 9px rgba(212, 196, 196, 0.58);
  -webkit-box-shadow: 0px 1px 13px 9px rgba(212, 196, 196, 0.58);
  -moz-box-shadow: 0px 1px 13px 9px rgba(212, 196, 196, 0.58);
}
.seccion-main .card .botom-comprar {
  background-color: #FFF;
  color: black;
}
.seccion-main .box:hover {
  transform: scale(1.4);
}
.seccion-main .box-uno {
  transition: all 2s;
}
.seccion-main .productos-dest-row {
  margin-top: 8rem;
}
.seccion-main .box-uno {
  width: 100%;
  height: 38vh;
  border: 4px solid #575655;
  border-radius: 5px;
}

h2 {
  font-size: 20px;
  color: #403D3D;
}

.card-uno {
  border-radius: 7px;
  border: 5px solid #a09c9c;
  width: 17%;
}
.card-uno .card-img-top {
  width: 230px;
  height: 230px;
}

.seccion-productos {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.seccion-productos-dos {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.seccion-productos-tres {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

/*
    .seccion-main-productos {
            @include medidas (100%, 100vh);
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 0px;

    .section-uno {
            display: flex;
            justify-content: space-between;
            width: 100% 
 }
    .container-img-productos {
        @include medidas (100%,150px);
        margin-left: 40px;
    }

    }
        .box:hover {
                transform: scale(1.4);
            }
        .box-uno {
                transition: all 2s;
                width: 70%;
            }

    */
.seccion-registro, footer .copyright, footer .container-pagos, footer .redes-uno .img-redes, footer .seccion-registro, .productos-dest {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productos-dest {
  margin: 50px 10rem 50px 50px;
  width: 30%;
  font-size: 50px;
  color: black;
  border-radius: 10px;
  background: linear-gradient(70deg, #F2F2F2, #6F6666);
}

.section-instructores {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 70vh;
  align-items: center;
}
.section-instructores .imagen-navarro {
  width: 450px;
  height: 450px;
  background: linear-gradient(180deg, #dddddd, #080808);
}
.section-instructores .imagen-navarro .parrafo-navarro {
  padding-top: 50px;
}

.titulo-instructores {
  width: 75%;
  font-size: 35px;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  left: 380px;
  bottom: 40px;
}

.guion {
  background: #fff;
  width: 50%;
  height: 1px;
  position: relative;
  left: 560px;
}

.section-instructores-video {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.parrafo-instructores {
  width: 100%;
  height: 450px;
  padding-top: 50px;
}

h1, h2, h3, h4 {
  padding: 0px;
  margin: 0px;
}

.caption-style-4 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 50px;
  margin-left: 80px;
  padding: 0px;
}

.caption-style-4 li {
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.caption-style-4 li:hover .caption {
  opacity: 1;
}

.caption-style-4 li:hover img {
  opacity: 1;
  transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  -moz-transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -o-transform: scale(1.15, 1.15);
}

.caption-style-4 img {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

.cancha-img {
  width: 585px;
  height: 400px;
}

.caption-style-4 .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.caption-style-4 img {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.caption-style-4 .blur {
  background-color: rgba(0, 0, 0, 0.65);
  height: 420px;
  width: 630px;
  z-index: 5;
  position: absolute;
}

.caption-style-4 .caption-text h1 {
  text-transform: uppercase;
  font-size: 24px;
}

.caption-style-4 .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 400px;
  height: 300px;
  text-align: center;
  top: 180px;
  padding-left: 170px;
}

.seccion-tablas {
  margin-top: 80px;
}

.texto-cancha {
  font-size: 35px;
}

.container-conocenos {
  margin-bottom: 80px;
  margin-top: 50px;
}
.container-conocenos .imagen-conocenos {
  position: relative;
  right: 120px;
  width: 550px;
  height: 400px;
  margin-bottom: 80px;
  margin-left: 160px;
}
.container-conocenos .parrafo-conocenos {
  height: 80%;
  position: relative;
  top: 30px;
  right: 40px;
  text-shadow: 2px 2px 3px white;
}

footer {
  background: linear-gradient(#575655, #0A0909);
}
footer .seccion-registro {
  width: 100%;
  height: 77%;
}
footer .container-registro {
  background-color: #403D3D;
  margin-top: 5%;
  padding: 20px;
}
footer .boton-registro {
  margin-bottom: 10px;
  width: 15%;
  position: relative;
  bottom: 40px;
}
footer .boton-registro:hover {
  background: #FFF;
  box-shadow: 0px 1px 13px 9px rgba(212, 196, 196, 0.58);
  -webkit-box-shadow: 0px 1px 13px 9px rgba(212, 196, 196, 0.58);
  -moz-box-shadow: 0px 1px 13px 9px rgba(212, 196, 196, 0.58);
}
footer .container-secciones {
  list-style: none;
  font-size: 22px;
}
footer .redes-uno {
  height: 40%;
  width: 15%;
}
footer .redes-uno .container-redes {
  list-style: none;
  width: 8rem;
  padding-left: 0%;
}
footer .redes-uno .img-redes {
  margin-bottom: 10px;
}
footer .redes-uno .redes:hover {
  transition: all 0.5s;
  transform: scale(1.5);
}
footer .container-pagos {
  flex-direction: column;
}
footer .container-pagos .img-pagos {
  padding: 20px 20px 0px 0px;
}
footer .container-pagos .pagos-seccion {
  list-style: none;
  width: 20px;
  position: relative;
  right: 20px;
}
footer .container-footer {
  margin-bottom: 50px;
  margin-top: 60px;
}
footer .container-footer .mail:hover {
  color: grey;
}
footer .copyright {
  background: linear-gradient(#575655, #0A0909);
  color: #FFF;
}
footer .copyright .copyright:hover {
  color: grey;
}
footer .copyright .github:hover {
  color: grey;
}
footer .copyright .github {
  text-decoration: none;
  color: #FFF;
}

@media only screen and (min-width: 360px) and (max-width: 400px) {
  .productos-dest {
    width: 60%;
    position: relative;
    left: 2rem;
  }

  .imagen-inst {
    width: 300px;
    height: 300px;
  }

  .video-inst {
    width: 500px;
    position: relative;
    right: 10rem;
  }

  .parrafo-instructores {
    width: 50rem;
    position: relative;
    right: 11rem;
  }
}
@media only screen and (min-width: 401px) and (max-width: 480px) {
  .productos-dest {
    margin-left: 3rem;
  }

  .seccion-main {
    width: 30rem;
    height: 165rem;
    margin-left: 0px;
  }

  .container-img {
    margin-bottom: 160px;
  }

  .seccion-main-productos {
    width: 30rem;
    height: 280rem;
    margin-left: 5px;
  }

  .container-img-productos {
    margin-bottom: 150px;
  }

  .imagen-inst {
    width: 30rem;
    height: 20rem;
    position: relative;
    right: 100px;
  }

  .seccion-canchas {
    width: 10rem;
  }

  .container-canchas {
    width: 20rem;
    position: relative;
    right: 100px;
  }

  .container-conocenos {
    display: flex;
    flex-wrap: wrap;
  }

  .imagen-conocenos {
    width: min-content;
    height: min-content;
  }

  .seccion-registro {
    width: 10rem;
    height: 30%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
  .productos-dest {
    margin-right: 8rem;
  }

  .seccion-main {
    width: 31rem;
    height: 150rem;
    margin-left: 0px;
  }

  .container-img {
    margin-bottom: 150px;
  }

  .seccion-main-productos {
    width: 30rem;
    height: 280rem;
    margin-left: 0px;
  }

  .container-img-productos {
    margin-bottom: 160px;
  }

  .imagen-inst {
    width: 30rem;
    height: 20rem;
    position: relative;
    right: 80px;
  }

  .parrafo-instructores {
    width: 80rem;
    height: 30rem;
  }

  .container-canchas {
    width: 25rem;
    position: relative;
    right: 8rem;
  }

  .seccion-canchas {
    width: 15rem;
  }

  .container-conocenos {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .productos-dest {
    margin-right: 8rem;
  }

  .seccion-main {
    width: 100%;
    height: 75rem;
    margin-left: 0px;
  }

  .container-img {
    width: 9rem;
  }

  .seccion-main-productos {
    width: 37rem;
    height: 150rem;
    margin-left: 12px;
  }

  .container-img-productos {
    width: 12rem;
    margin-bottom: 150px;
  }

  .imagen-inst {
    width: 30rem;
    height: 20rem;
  }

  .seccion-canchas {
    width: 20rem;
  }

  .container-canchas {
    width: 30rem;
    position: relative;
    right: 70px;
  }

  .container-conocenos {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .productos-dest {
    margin-right: 12rem;
    width: 40%;
  }

  .seccion-main {
    width: 99%;
    margin-left: 0px;
    height: 70rem;
  }

  .container-img {
    width: 22%;
  }

  .seccion-main-productos {
    width: 52rem;
    margin-left: 10px;
    height: 140rem;
  }

  .container-img-productos {
    margin-bottom: 110px;
  }

  .imagen-inst {
    width: 30rem;
    height: 20rem;
  }

  .container-conocenos {
    display: flex;
    flex-wrap: wrap;
  }

  .seccion-canchas {
    width: 40rem;
    position: relative;
    right: 70px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1800px) {
  .productos-dest {
    width: 30%;
  }

  .seccion-main {
    width: 75%;
    margin: 0px;
    margin-left: 11rem;
  }

  .imagen-inst {
    position: relative;
    right: 70px;
    width: max-content;
    height: max-content;
  }

  .parrafo-instructores {
    width: 40rem;
    position: relative;
    left: 1px;
  }

  .seccion-canchas {
    width: 120rem;
  }

  .container-registro {
    width: 40%;
  }
}
.seccion-registro, .productos-dest, footer .seccion-registro, footer .redes-uno .img-redes, footer .container-pagos, footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productos-dest {
  margin: 50px 10rem 50px 50px;
  width: 30%;
  font-size: 50px;
  color: black;
  border-radius: 10px;
  background: linear-gradient(70deg, #F2F2F2, #6F6666);
}

.productos-dest {
  position: relative;
  left: 40px;
}

.seccion-registro {
  background: linear-gradient(180deg, #868685, #0A0909);
  width: 70%;
  height: 33rem;
  color: #fff;
  border-radius: 15px;
}

.container-registro {
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
