footer{
    background: linear-gradient( #575655, #0A0909);
    .seccion-registro {
        @extend %flex;
        @include medidas (100%, 77%);
      }
      .container-registro {
        background-color: $color-principal;
        margin-top: 5%;
        padding: 20px;
     }
     .boton-registro {
         margin-bottom: 10px;
         width: 15%;
         position: relative;
         bottom: 40px;
     }
     .boton-registro:hover{
         background: #FFF;
         box-shadow: 0px 1px 13px 9px rgba(212,196,196,0.58);
        -webkit-box-shadow: 0px 1px 13px 9px rgba(212,196,196,0.58);
        -moz-box-shadow: 0px 1px 13px 9px rgba(212,196,196,0.58); 
     }
     .container-secciones {
         list-style: none;
         font-size: 22px;
     }
     .redes-uno {
        height: 40%;
        width: 15%;
     .container-redes{
            list-style: none;
             width: 8rem;
         padding-left: 0%;}
        
        .img-redes{ 
            @extend %flex;
            margin-bottom: 10px;
            }
        .redes:hover {
            transition: all 0.5s;
            transform: scale(1.5);
            }
     }
     
    .container-pagos {
            @extend %flex;
            flex-direction: column;
        .img-pagos {
            padding: 20px 20px 0px 0px;
        }
        .pagos-seccion {
            list-style: none;
            width: 20px;
            position: relative;
            right: 20px;
        }
    }
    
    .container-footer {
        margin-bottom: 50px;
        margin-top: 60px;
        .mail:hover {
            color: grey;
        }
    }
     .copyright { 
        background: linear-gradient( #575655, #0A0909);
            color: #FFF;
            @extend %flex;
    .copyright:hover{
        color: grey;
    }
    .github:hover {
        color: grey;
    }
    .github {
            text-decoration: none;
            color: #FFF;
        }
     }
     
   }
   
   
