@import "../base/mixin";
* {
    padding: 0px;
    margin: 0px;
}
.encabezado {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: rgb(219, 209, 209);
  margin-top: 50px;
  margin-bottom: 50px;
}

header {
  width: 100%;
}
body{
  background-image: url("../imagenes/descarga.jfif");
  font-family: "Lato";
  padding:20px 30px;
  margin: 0px;
  @include medidas (100%,100vh);
}
.titulo:hover {
    background: linear-gradient(grey,#7F7A7A);
    border-radius: 13px;
    box-shadow: 0px 1px 7px 4px rgba(212,196,196,0.24);
    -webkit-box-shadow: 0px 1px 7px 4px rgba(212,196,196,0.24);
    -moz-box-shadow: 0px 1px 7px 4px rgba(212,196,196,0.24);
    
  }
  .titulo {
    font-size: 18px;
  }
  .section-carrousel {
    width: 101%;
  }
  p, h5 {
    text-align: center;
    font-size: 20px;
    color:#ECE8E8;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  

  .seccion-main-uno, .seccion-main-dos {

    @include medidas (100%,60%);
    display: flex;
    align-items: center;
    justify-content: space-around; 
  
    .card {
        border-radius: 7px;
        border: 5px solid rgb(160, 156, 156);
        width: 210px;
    .card-img-top {
     @include medidas (200px, 200px);
    }
    .botom-comprar:hover {
      background: #FFF;
      box-shadow: 0px 1px 13px 9px rgba(212,196,196,0.58);
     -webkit-box-shadow: 0px 1px 13px 9px rgba(212,196,196,0.58);
     -moz-box-shadow: 0px 1px 13px 9px rgba(212,196,196,0.58); 
    }
    .botom-comprar{
      background-color: #FFF;
      color: black;
    }
  }
  
  .box:hover {
    transform: scale(1.4);}
    .box-uno {
      transition: all 2s;
      
    }
    .box-uno {
      width: 100%;
      height: 38vh;
      border: 4px solid #575655;
      border-radius: 5px;
      
    }
  
  }
  #cesta-carrito {
    border: none;
    color: rgb(160, 156, 156);
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
  }
  #cesta-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(160, 156, 156);
  }
  #cesta-carrito:focus {
    outline: none;
  }
  .modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  .modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
  .modal-active .modal-carrito {
    margin-top: 0;
  }
  .modal-carrito h3 {
    color:rgb(160, 156, 156);
    padding-bottom: 5px;
  }
  .modal-carrito #btn-cerrar-carrito {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(160, 156, 156) !important;
    border: none;
    background-color: white;
  }
  .modal-carrito #btn-cerrar-carrito:hover {
    cursor: pointer;
  }
  .modal-carrito .producto-precio {
    padding-top: 10px;
  }
  .tienda-online {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }