.productos-dest { 
    @extend %titulo;
    @extend %flex
}
.row {
    .imagen-instructores{ 
        position: relative;
        right:  2px;
        margin-top: 20px;
    }
    .parrafo-instructores {
    color: #E6E18F;
    @include medidas (44%,200px);
    position: relative;
    top: 15px;
    text-shadow: 2px 2px 3px white;
    }
}
.instructores-dest {
 @include medidas (15rem,null);
} 

    
.container-video {
    @include medidas (110%,100%);
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
             .video-inst {
                 @include medidas (37rem,20rem);
                 padding-left: 100px;
        }
    }