
.seccion-instructores {
    display: flex;
    justify-content: space-around;
    @include medidas ( 100%,70vh);
    align-items: center;

    .imagen-navarro {
        @include medidas (450px,450px);
        background:linear-gradient(180deg, #dddddd, #080808);
     .parrafo-navarro {
        padding-top: 50px;
     }
    }
}
.titulo-instructores {
    width: 75%;
  font-size: 35px;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  left: 380px;
  bottom: 40px;
}
.guion {
    background: #fff;
    width: 50%;
    height: 1px;
    position: relative;
    left: 560px;
}
.seccion-instructores-video {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;}
.parrafo-instructores { 
    @include medidas (100%,450px);
    padding-top: 50px;

}