
@media only screen and (min-width : 320px){
    
    .seccion-main-uno{
        height: 80rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px; 
    }
    .seccion-main-dos {
        height: 80rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px; 
        margin-bottom: 10rem;
    }

    .seccion-productos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }
    .seccion-productos-dos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }
    .seccion-productos-tres {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }
    .seccion-instructores{
        height: 50rem;
    }
    .seccion-titulo-instructores {
        width: 80px;
        }
        .guion {
            width: 0px;
            height: 0px;
        }
    }

    .seccion-instructores-video{
        height: 100rem;
    .video-navarro {
        @include medidas (100px,100px);
        position: relative;
        right: 15rem;

    }
}
    footer {
    .container-footer {
        width: 40%;
       display: flex;
       flex-wrap: wrap;
    }
    .container-secciones {
        position: relative;
        left: 150px;
    }
    .container-pagos {
        position: relative;
        left: 150px;
    }
    .boton-registro {
        width: 80%;
    }
    .container-conocenos{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:480px)and (max-width:767px){
    .seccion-main-uno {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 700px;
        
    }
    .seccion-main-dos {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 450px;
    }
    .seccion-productos {
        .card-uno {
            @include medidas ( 200px,360px);
            position: relative;
            right: 20px;
            .card-img-top {
                @include medidas (200px,180px);
            }
        }
    }
    .seccion-productos-dos {
        .card-uno {
            @include medidas ( 200px,360px);
            position: relative;
            right: 20px;
            .card-img-top {
                @include medidas (200px,180px);
            }
        }
    }
    .seccion-productos-tres {
        .card-uno {
            @include medidas ( 200px,360px);
            position: relative;
            right: 20px;
            .card-img-top {
                @include medidas (200px,180px);
            }
        }
    }
    .seccion-titulo-instructores {
        display: flex;
        flex-wrap: wrap;
        padding-top: 200px;
        width: 70%;
        .guion {
          @include medidas (0px,0px);
        }
    }
    .seccion-instructores-video {
        position: relative;
        right: 85px;
        width: 400px;
        margin-bottom: 250px;
        .video-navarro {
            @include medidas (10%,300px);
            position: relative;
            right: 20px;
        }
        .parrafo-instructores {
            position: relative;
            left: 80px;
        }
    }
    .container-conocenos {
        .imagen-conocenos {
            @include medidas (400px,300px);
            position: relative;
            right: 77px;
        }
        .parrafo-conocenos{
            position: relative;
            right: 20px;
        }
    }
    .container-footer {
        width: 350px;
        display: flex;
        flex-wrap: wrap;
    }
    .seccion-boton {
        .boton-registro {
            width: 150px;
        }
    }
   
}

@media only screen and (min-width : 768px) and (max-width:1023px){
    
        .seccion-main{
        width: 100%;
        position: relative;
        right: 80px;
        }
       .seccion-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        margin-left: 40px;
       }
       .seccion-productos-dos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        margin-left: 40px;
       }
       .seccion-productos-tres {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        margin-left: 40px;       }
        .container-conocenos{
            display: flex;
            flex-wrap: wrap;
        }
        .seccion-instructores {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20rem;
        }
        .seccion-titulo-instructores {
            position: relative;
            right: 220px;
            margin-top: 30rem;
        }
        .guion {
            width: 200px;
        }
        
        .seccion-instructores-video {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 200px;
            margin-left: 100px;
            .video-navarro {
                width: 500px;
            }
        }
        .seccion-registro {
            @include medidas (500px,480px);
            .container-registro {
                @include medidas (400px,900px);
                padding-top: 250px;
            }
        }
    }
    @media only screen and (min-width: 1024px) and (max-width:1199px){
        .seccion-main-uno {
            margin-bottom: 100px;
        }
        .seccion-instructores {
            margin-bottom: 80px;
        }
        .seccion-titulo-instructores{
            .titulo-instructores {
                width: 500px;
            }
            .guion {
                width: 140px;
            }
        }
        .seccion-instructores-video {
            .video-navarro {
                width: 500px;
            }
            .parrafo-instructores {
                position: relative;
                bottom: 40px;
            }
        }
        .container-conocenos {
            display: flex;
            flex-wrap: wrap;
            .parrafo-conocenos {
               margin-left: 40px;
            }
        }
    }

    @media only screen and (min-width : 1200px) and (max-width:1800px){
        
        
        .seccion-main-uno {
            display: flex;
            justify-content: space-between;
            @include medidas (80%, 500px);
         
        }
        .seccion-main-dos {
            display: flex;
            justify-content: space-between;
            @include medidas (80%, 500px);
            margin-left: 100px;
            position: relative;
            left: 60px;
        }
        .seccion-productos,.seccion-productos-dos,.seccion-productos-tres{
            display: flex;
            justify-content: center;
            .card-uno{
                margin-left: 30px;
            }
        }
         .seccion-instructores {
             margin-top: -150px;
         }
        .seccion-titulo-instructores{
        .titulo-instructores {
            width: 900px;
        }
        .guion {
            margin-top: 20px;
            width: 600px;
            height: 1px;
        }
    }
    .seccion-instructores-video {
        height: 700px;
        .video-navarro {
            width: 800px;
            height: 440px;
           position: relative;
           left: 30px;
        }
        .parrafo-instructores {
            font-size: 25px;
            width: 40rem;
            position: relative;
            left: 1px;
            bottom: 10px;
        }
    }
        
        .container-cancha-uno {
            position: relative;
            right: 20px;
            width: 94%;
        }
       
        .container-registro {
            width: 40%;
        }
        footer {
            .container-footer {
                height: 300px;
                width: 85%;
                display: flex;
                justify-content: space-between;
            }
            .redes-uno {
                margin-top: 10px;
                margin-left: 50px;
                position: relative;
                left: 80px;
                bottom: 10px;
            }
            .container-pagos {
                position: relative;
                bottom: 20px;
            }
            .seccion-boton {
                .boton-registro {
                    width: 170px;
                }
            }
        }
    }