
@media only screen and (max-width : 320px) {
    .productos-dest {
        margin-top: 40px;
        margin-bottom: 40px;
        position: relative;
        left: 80px;
        display: flex;
        justify-content: center;
         text-align: center;
         font-size: 20px;
         
    }
    .seccion-main-uno{
        height: 80rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px; 
    }
    .seccion-main-dos {
        height: 80rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px; 
        margin-bottom: 10rem;
    }

    .seccion-productos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }
    .seccion-productos-dos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }
    .seccion-productos-tres {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }
    .seccion-instructores{
        height: 50rem;
    }
    .seccion-titulo-instructores {
        width: 80px;
        .guion {
            width: 0px;
            height: 0px;
        }
    }

    .seccion-instructores-video{
        height: 120rem;
    .video-navarro {
        width: 250px;
        position: relative;
        right: 15rem;

    }
}
    .container-footer {
        width: 80%;
        height: 900px;
       display: flex;
       flex-direction: column;
    }
    .boton-registro {
        width: 80%;
    }
    .container-conocenos{
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width : 768px) {
        .productos-dest {
            margin-right: 8rem;
        }
        .seccion-main{
        width: 100%;
        position: relative;
        right: 80px;
        }
       .seccion-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        margin-left: 40px;
       }
       .seccion-productos-dos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        margin-left: 40px;
       }
       .seccion-productos-tres {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        margin-left: 40px;       }
        .container-conocenos{
            display: flex;
            flex-wrap: wrap;
        }
        .seccion-instructores {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 500px;
        }
        .seccion-titulo-instructores {
            position: relative;
            right: 220px;
        }
        .guion {
            width: 200px;
        }
        
        .seccion-instructores-video {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 200px;
            margin-left: 100px;
            .video-navarro {
                width: 500px;
            }
        }
    }
    @media only screen and (max-width:1200px) {
        .productos-dest {
            margin-right: 12rem;
            width: 90%;
        }
        .seccion-main {
            width:99%;
            margin-left: 0px;
            height: 35rem;
        }
        .seccion-main-dos {
            margin-top: 70px;
            height: 300px;
        }
       .card-uno {
           width: 350px;
       }
        .container-conocenos{
            display: flex;
            flex-wrap: wrap;
        }
        .seccion-canchas {
            width: 40rem;
            position: relative;
            right: 70px;
        }
    }
    @media only screen 
   and (max-width : 1600px) {
        .productos-dest {
            width: 30%;

        }
        .seccion-main{
            width: 75%;
            margin: 0px;
            margin-left: 11rem;
        }
        .card-uno {
            width: 250px;
        }
        .titulo-instructores {
            width: 64%;
        }
        .parrafo-instructores {
            width: 40rem;
            position: relative;
            left: 1px;
        }
        .container-cancha-uno {
            position: relative;
            right: 20px;
            width: 94%;
        }
       
        .container-registro {
            width: 40%;
        }
    }

       