@import "../base/extends";
.seccion-registro {
    background: linear-gradient(180deg, #868685, #0A0909);
    @extend %flex ;
    width: 70%;
    height: 33rem;
    color: #fff;
    border-radius: 15px;

}
.container-registro {
    width: 90%;

}
