@import "../base/extends";
.productos-dest { 
    @extend %titulo;
    @extend %flex;
    position: relative;
    left: 40px;
}
.seccion-registro {
    background: linear-gradient(180deg, #868685, #0A0909);
    @extend %flex ;
    width: 70%;
    height: 33rem;
    color: #fff;
    border-radius: 15px;

}
.container-registro {
    width: 90%;

}